apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentik
  namespace: authentik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authentik
  template:
    metadata:
      labels:
        app: authentik
    spec:
      containers:
      - name: authentik-server
        image: ghcr.io/goauthentik/server:2023.10.7
        env:
        - name: AUTHENTIK_SECRET_KEY
          value: "REPLACE_ME_WITH_A_SECRET_KEY"
        - name: AUTHENTIK_POSTGRESQL__HOST
          value: "authentik-postgresql"
        - name: AUTHENTIK_POSTGRESQL__USER
          value: "authentik"
        - name: AUTHENTIK_POSTGRESQL__NAME
          value: "authentik"
        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          value: "authentik"
        - name: AUTHENTIK_REDIS__HOST
          value: "authentik-redis"
        ports:
        - containerPort: 9000
      initContainers:
      - name: configure-authentik
        image: authentik-configure:latest
        env:
        - name: ADMIN_EMAIL
          value: "admin@example.com"
        - name: ADMIN_PASSWORD
          value: "adminpassword"
        - name: LDAP_HOST
          value: "openldap.openldap.svc.cluster.local"
        - name: LDAP_BIND_DN
          value: "cn=admin,dc=example,dc=org"
        - name: LDAP_BIND_PW
          value: "adminpassword"
        - name: LDAP_BASE_DN
          value: "dc=example,dc=org"
        command: ["/configure-authentik.sh", "$(ADMIN_EMAIL)", "$(ADMIN_PASSWORD)", "$(LDAP_HOST)", "$(LDAP_BIND_DN)", "$(LDAP_BIND_PW)", "$(LDAP_BASE_DN)"]
      - name: authentik-worker
        image: ghcr.io/goauthentik/server:2023.10.7
        command: ["/bin/sh", "-c", "ak worker"]
        env:
        - name: AUTHENTIK_SECRET_KEY
          value: "REPLACE_ME_WITH_A_SECRET_KEY"
        - name: AUTHENTIK_POSTGRESQL__HOST
          value: "authentik-postgresql"
        - name: AUTHENTIK_POSTGRESQL__USER
          value: "authentik"
        - name: AUTHENTIK_POSTGRESQL__NAME
          value: "authentik"
        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          value: "authentik"
        - name: AUTHENTIK_REDIS__HOST
          value: "authentik-redis"
