apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentik-postgresql
  namespace: authentik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authentik-postgresql
  template:
    metadata:
      labels:
        app: authentik-postgresql
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
        - name: POSTGRES_DB
          value: "authentik"
        - name: POSTGRES_USER
          value: "authentik"
        - name: POSTGRES_PASSWORD
          value: "authentik"
        ports:
        - containerPort: 5432
